.side-nav__footer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	user-select: none;
	padding: 1rem;
	background-color: #071a50;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.logo {
		margin-right: auto;
		svg {
			height: calc(72px - 2rem);
		}
	}
	.intro-x {
		z-index: 45 !important;
	}
	.profile-component {
		width: auto !important;
		height: 100%;
		padding: 0;
		margin-right: 20px;
		position: relative;

		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.user {
				margin-right: 20px;
				color: #fff;
			}
		}

		.dropdown-menu {
			z-index: 999999;
			visibility: hidden;
			position: absolute;
			top: calc(100% + 1rem);
			right: 0;
			opacity: 0;

			.dropdown-menu__content {
				transition: margin-top 0.2s;
				width: 100%;
			}
		}

		.show {
			visibility: visible;
			opacity: 1;
		}
	}

	.logout {
		display: flex;
		align-items: center;
		padding: 0.5rem;
		border-radius: 0.5rem;
		color: rgba(255, 255, 2555, 1);
		background-color: rgba(206, 49, 49, 1);
		font-size: 15px;
		box-sizing: border-box;
		cursor: pointer;
		svg {
			margin: 0;
		}
	}
}

@media (max-width: 1279px) {
	.side-nav__footer {
		.profile-component {
			position: relative;
			&__header {
				flex-direction: column;
				.user {
					display: none;
				}
			}
		}
		.logout {
			background-color: transparent;
			width: fit-content;
			&__title {
				display: none;
			}
		}
	}
}
@media (max-width: 767px) {
	.side-nav__footer {
		padding: 0.5rem !important;
		margin-top: 7px;
		.profile-component {
			.dropdown-menu {
				&.show {
					top: calc(100% + 0.5rem) !important;
					svg {
						display: none;
					}
				}
			}
		}
	}
}

.dark {
	.side-nav__footer {
		background-color: rgba(35, 42, 59, 1);
		.logout {
			border-color: rgba(35, 42, 59, 1);
		}
	}
}

.user {
	padding-left: 10px;
}
