.table-overlay {
	width: 100%;
	background: rgba($color: #071a50, $alpha: 0.15);
	position: absolute;
	top: 10px;
	left: 0;
	bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	z-index: 998 !important;
}

.table-container {
	min-height: 400px;
}

.dark .table-overlay {
	background: rgba(195, 207, 241, 0.2);
}
