$primary-bg: #fff;
$primary-bg-hover: #f1f5f8;

$primary-color: black;
$primary-color-hover: #fff;

$primary-border-color: black;
$primary-border-color-hover: #eee;

// =====

$dark-bg: #1e2432;
$dark-bg-hover: #2a3145;

$dark-color: #f1f5f8;
$dark-color-hover: #ccc;

$dark-border-color: #1e2432;
$dark-border-color-hover: #eee;
